@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;



}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --main-color: #7cf03d;
  --white-color: #fff;
  --disabled-color: #fff3;
}

section {
  width: 100%;
  height: 100%;
  padding: 7rem 10%;
  background-color: var(--bg-color);
  visibility: hidden;
  overflow: hidden;
  opacity: 0;
  position: absolute;
  color: var(--white-color);
}

h1,
h2,
h3,
p {
  text-transform: capitalize;


}

section.active {
  visibility: visible;
  overflow: auto;
  opacity: 1;
}


.navigation {
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  background-color: var(--bg-color);
  z-index: 1;
  padding: 0 10%;

}

.logo {
  width: 40%;
  display: flex;
  align-items: self-start;
  justify-content: flex-start;
}

.logo a {
  font-size: 3rem;
  color: var(--white-color);
  font-weight: 800;

}

.nav-bar {
  width: 60%;
}

.nav-bar ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}

.nav-bar ul li a {
  font-size: 1.2rem;
  color: var(--white-color);
  font-weight: 500;
  transition: .5s;


}

.nav-bar ul li.active-menu a {
  color: var(--main-color);
  font-weight: bold;
  border-bottom: 2px solid var(--main-color);
}


.nav-bar li a:hover {
  color: var(--main-color);

}

.nav-bar li.active {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--main-color);
}

#menuIcon {
  font-size: 3rem;
  color: var(--white-color);
  display: none;

}

.logo i {
  position: relative;
}



/* ============small nav-bar==================*/
.side-bar {
  position: absolute;
  top: 5rem;
  right: 0;
  height: 100%;
  width: 20%;
  z-index: 1000;
  display: none;
}

.side-navigation {
  position: relative;
  width: 70px;
  height: 400px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.side-navigation ul {
  display: flex;
  flex-direction: column;
  height: 350px;
  padding: 0;
}

.side-navigation ul li {
  position: relative;
  width: 70px;
  height: 70px;
  z-index: 1;
}

.side-navigation ul li a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: center;
  font-weight: 600;
}

.side-navigation ul li a .icon {
  position: relative;
  display: block;
  width: 55px;
  height: 55px;
  text-align: center;
  line-height: 55px;
  border-radius: 50%;
  color: #222327;
  font-size: 1.5em;
}

.side-navigation ul li.active-menu a .icon {
  background-color: var(--clr);
  transform: translateX(-35px);
}

.side-navigation ul li a .icon::before {
  content: " ";
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr);
  border-radius: 50%;
  filter: blur(5px);
  opacity: 0;
}

.side-navigation ul li.active-menu a .icon::before {
  opacity: .5;
}

.indicator {
  position: absolute;
  left: -35px;
  width: 70px;
  height: 70px;
  background: #ffff;
  border-radius: 50%;
  transition: .5s;
}

.indicator::before {
  content: ' ';
  position: absolute;
  left: 4px;
  top: -28px;
  width: 30px;
  height: 30px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 18px 15px #ffff;
}

.indicator::after {
  content: ' ';
  position: absolute;
  left: 4px;
  bottom: -28px;
  width: 30px;
  height: 30px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 18px -15px #ffff;
}


.side-navigation ul li:nth-child(1).active-menu~.indicator {
  transform: translateY(calc(70px * 0));
}

.side-navigation ul li:nth-child(2).active-menu~.indicator {
  transform: translateY(calc(70px * 1));
}

.side-navigation ul li:nth-child(3).active-menu~.indicator {
  transform: translateY(calc(70px * 2));
}

.side-navigation ul li:nth-child(4).active-menu~.indicator {
  transform: translateY(calc(70px * 3));
}

.side-navigation ul li:nth-child(5).active-menu~.indicator {
  transform: translateY(calc(70px * 4));
}

/*=========== star home section============= */
.home-section {

  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: absolute;
  align-items: center;
}

.home-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: self-start;
  justify-content: center;
  padding: 1rem 0;
  height: 100%;
  margin-top: 4rem;
}



.home-info h1 {

  color: var(--white-color);
  font-size: 2.5rem;
  font-weight: 700;
}

.home-info h2 {

  font-size: 2rem;
  color: var(--white-color);
  font-weight: 500;

}

.home-info h2 span {
  color: transparent;
  -webkit-text-stroke: .07rem var(--main-color);
  position: relative;
  padding: .2rem;
  animation: display-text 16s linear infinite;
  animation-delay: calc(-4s * var(--i));
}

@keyframes display-text {

  25%,
  100% {
    display: none;
  }

}

.home-info h2 span::before {
  content: attr(data-text);
  position: absolute;
  width: 0;
  white-space: nowrap;
  border-right: .2rem solid var(--main-color);
  color: var(--main-color);
  overflow: hidden;
  animation: fill-text 4s linear infinite;
}

@keyframes fill-text {

  10%,
  100% {
    width: 0;
  }

  70%,
  90% {
    width: 100%;
  }

}

.home-info p {
  font-size: 1rem;
  color: var(--white-color);
  font-weight: 400;
  margin: 1.5rem 0;
}

.download-btn {
  display: flex;
  gap: 1rem;
}

.download-btn button {
  background: linear-gradient(to right, #7cf03d 0%, #40b800 51%, #7cf03d 100%);
}

.download-btn button {
  margin-bottom: 1rem;
  padding: 1rem 2.9rem;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  font-size: 1rem;
  color: white;
  border-radius: .9rem;
  display: block;
  border: none;
}

.download-btn button i {
  font-size: 1rem;
}

.download-btn button:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
  box-shadow: 0 0 1rem var(--main-color);

}

.download-btn ul {
  display: flex;

}

.download-btn ul li {
  margin-left: 1rem;
}

.download-btn ul li a i {
  padding: .7rem;
  font-size: 1.5rem;
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  color: var(--white-color);
  border-radius: 50%;
  transition: .4s;

}

.download-btn ul li a i:hover {
  background-color: transparent;
  color: var(--main-color);
  box-shadow: 0 0 1rem var(--main-color);
}

.hero-img {
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

}

.img-bg {
  position: relative;
  width: 90%;
  height: 100%;
  border-radius: 50%;
  padding: .2rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1rem solid transparent;
  border-radius: 50%;
}

.img-bg::before,
.img-bg::after {
  content: '';
  position: absolute;
  width: 45rem;
  height: 45rem;
  background: conic-gradient(transparent, transparent, transparent, var(--main-color));
  transform: rotate(0deg);
  animation: rotate-border 10s linear infinite;



}

.img-bg::after {
  animation-delay: -5s;
}



@keyframes rotate-border {
  100% {
    transform: rotate(360deg);
  }

}

.hero-img {
  animation: colorChange 20s infinite;
}

@keyframes colorChange {
  0% {
    --main-color: #7cf03d;
  }

  33% {
    --main-color: #4ED7F1;
  }

  66% {
    --main-color: #F3C623;
  }

  100% {
    --main-color: #A53860;
  }
}



.img-item {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  border-radius: 50%;
  overflow: hidden;
  border: .01rem solid var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.img-item img {
  position: absolute;
  display: block;
  mix-blend-mode: lighten;
  width: 85%;
  background: var(--bg-color);
}

/* ===============SERVICES SECTION START=============== */
.services h1 {
  font-size: 3rem;
  color: var(--white-color);
  text-align: center;
  margin-bottom: 2rem;
  text-transform: capitalize;


}

.services span {
  color: var(--main-color);
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
  color: var(--white-color);
}

.service-box {
  padding: 2rem 1.5rem;
  background-color: var(--second-bg-color);
  border: .1rem solid var(--second-bg-color);
  border-radius: 1rem;
  transition: .5s;
}

.service-box:hover {
  border-color: var(--main-color);
  transform: scale(1.02);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  transition: .5s;

}

.icon:hover {
  color: var(--main-color);
}

.icon a i {
  text-align: center;
  padding: .3rem;
  background-color: var(--white-color);
  color: var(--second-bg-color);
  border-radius: 50%;
  transition: .5s;

}

.icon a i:hover {
  background-color: var(--main-color);
  transform: rotate(-45deg);
}

.service-box h3 {
  font-size: 1.6rem;
  margin: .5rem 0 1rem;
  transition: .5s;
}

.service-box h3:hover {
  color: var(--main-color);
}

.service-box p {
  font-size: .9rem;
}

/* ===========resume section======= */

.resume {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  overflow: scroll;


}

.resume::-webkit-scrollbar {
  display: none;
}

.resume-box h2 {
  font-size: 3rem;
}

.desc {
  font-size: 1rem;
  margin: 2rem 0;
}

.resume-btn {
  width: 100%;

  padding: 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--white-color);
  background-color: var(--second-bg-color);
  margin-bottom: 2rem;
  border: .1rem solid var(--second-bg-color);
  border-radius: .8rem;
  cursor: pointer;
  text-transform: capitalize;

}

.resume-box .actives-resume {
  border: .1rem solid var(--main-color);
  color: var(--main-color);
}

.details {
  text-align: left;
}

.resume-span {
  font-size: 2.5rem;

}

.resume-span span {
  color: var(--main-color);
}

.resume-items {
  overflow: auto;
  height: 29rem;
  padding: 1rem;
  gap: 1rem;
  transition: .5s;

}

.resume-items::-webkit-scrollbar {
  width: .5rem;
}

.resume-items::-webkit-scrollbar-thumb {
  background-color: #40b8002f;
  border-radius: 1rem;
}

.resume-items:hover::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}

.company span {
  width: 1rem;
  height: 1rem;
  background-color: var(--main-color);
  border-radius: 50%;
  display: inline-block;
  margin-right: .5rem;

}

.year {
  color: var(--main-color);
}

.company {
  font-size: .9rem;
}


.details {
  display: none;
}

.details.active-details {
  display: block;
}

.skills .resume-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}

.skills .resume-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border: none;
  transition: .5s;

}

.skills .resume-list:hover {
  border: none;
}

.skills .resume-list span {
  font-size: 1.5rem;
  position: absolute;
  top: -1.2rem;
  opacity: 0;
  transition: .8s;

}

.skills .resume-list:hover span {
  opacity: 1;
  transform: scale(1);


}

.skills i {
  font-size: 5rem;
  color: var(--white-color);
  transition: .5s;
}


.skills i:hover {
  color: var(--main-color);
}

/* ============portfolio section===== */
.portfolio {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.portfolio-container {
  text-align: left;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.number.num-active{
  display: block;
}
.number{
  font-size:4rem;
  -webkit-text-stroke: .1rem var(--main-color);
  color: transparent;
  display: none;
}