/* ========= Responsive Breakpoints ========== */

/* X-Small (<576px) */
@media (max-width: 575.98px) {

    .logo {
        width: 100%;
        justify-content: space-between;
    }

    #menuIcon {

        display: block;

    }

    .side-bar {
        display: none;
    }

    .side-bar.active {
        display: flex;
    }

    .nav-bar {
        display: none;
    }

    /* home section */
    .home-section {
       
        grid-template-columns: 1fr;
    }



}

/* Small devices (≥576px and <768px) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .logo {
        width: 100%;
        justify-content: space-between;
    }

    #menuIcon {

        display: block;

    }

    .side-bar {
        display: none;
    }

    .side-bar.active {
        display: flex;
    }

    .nav-bar {
        display: none;
    }

    /* home section */
    .home-section {
        grid-template-columns: 1fr;
        flex-direction: column-reverse;
    }

}

/* Medium devices (≥768px and <992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .logo {
        width: 100%;
        justify-content: space-between;
    }

    #menuIcon {

        display: block;

    }

    .side-bar {
        display: none;
    }

    .side-bar.active {
        display: flex;
    }

    .nav-bar {
        display: none;
    }

    /* home section */
    .home-section {
        grid-template-columns: 1fr;

        flex-direction: column-reverse;
    }

}

/* Large devices (≥992px and <1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* Extra large devices (≥1200px and <1400px) */
@media (min-width: 1200px) and (max-width: 1399.98px) {}

/* Extra extra large devices (≥1400px) */
@media (min-width: 1400px) {}